body {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

h1,
h2 {
  text-align: center;
}

.grid_cards {
  width: 2100%;
  display: flex;
  animation: changes 1190s infinite;
}

.card {
  width: 100%;
}

.myimage1 {
  background-image: url(img/1self.webp);
}

.myimage2 {
  background-image: url(img/2self.webp);
}

.myimage3 {
  background-image: url(img/3self.webp);
}

.myimage4 {
  background-image: url(img/4self.webp);
}

.myimage5 {
  background-image: url(img/5self.webp);
}

.myimage6 {
  background-image: url(img/6self.webp);
}

.myimage7 {
  background-image: url(img/7self.webp);
}

.myimage8 {
  background-image: url(img/8self.webp);
}

.myimage9 {
  background-image: url(img/9self.webp);
}

.myimage10 {
  background-image: url(img/10self.webp);
}

.myimage11 {
  background-image: url(img/11self.webp);
}

.myimage12 {
  background-image: url(img/12self.webp);
}

.myimage13 {
  background-image: url(img/13self.webp);
}

.myimage14 {
  background-image: url(img/14self.webp);
}

.myimage15 {
  background-image: url(img/15self.webp);
}

.myimage16 {
  background-image: url(img/16self.webp);
}

.myimage17 {
  background-image: url(img/17self.webp);
}

.myimage18 {
  background-image: url(img/18self.webp);
}

.myimage19 {
  background-image: url(img/19self.webp);
}

.myimage20 {
  background-image: url(img/20self.webp);
}

.myimage21 {
  background-image: url(img/21self.webp);
}

.custom {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100rem;
  background-position: top center;
}

@media (min-width: 750px) {
  .custom {
    max-height: 40rem;
  }
}


/* @media (min-width: 1020px) {
  .custom {
    height: 80rem;
  }
} */

@keyframes changes {
  0.42% {
    move-left: 0;
  }
  2.94% {
    margin-left: 0;
  }
  3.36% {
    margin-left: -100%;
  }
  8.82% {
    margin-left: -100%;
  }
  9.24% {
    margin-left: -200%;
  }
  14.71% {
    margin-left: -200%;
  }
  15.13% {
    margin-left: -300%;
  }
  20.59% {
    margin-left: -300%;
  }
  21.01% {
    margin-left: -400%;
  }
  26.47% {
    margin-left: -400%;
  }
  26.89% {
    margin-left: -500%;
  }
  32.35% {
    margin-left: -500%;
  }
  32.77% {
    margin-left: -600%;
  }
  35.29% {
    margin-left: -600%;
  }
  35.71% {
    margin-left: -700%;
  }
  38.24% {
    margin-left: -700%;
  }
  38.66% {
    margin-left: -800%;
  }
  41.18% {
    margin-left: -800%;
  }
  41.60% {
    margin-left: -900%;
  }
  47.06% {
    margin-left: -900%;
  }
  47.48% {
    margin-left: -1000%;
  }
  52.94% {
    margin-left: -1000%;
  }
  53.36% {
    margin-left: -1100%;
  }
  58.82% {
    margin-left: -1100%;
  }
  59.24% {
    margin-left: -1200%;
  }
  64.71% {
    margin-left: -1200%;
  }
  65.13% {
    margin-left: -1300%;
  }
  70.59% {
    margin-left: -1300%;
  }
  71.01% {
    margin-left: -1400%;
  }
  76.47% {
    margin-left: -1400%;
  }
  76.89% {
    margin-left: -1500%;
  }
  79.41% {
    margin-left: -1500%;
  }
  79.83% {
    margin-left: -1600%;
  }
  82.35% {
    margin-left: -1600%;
  }
  82.77% {
    margin-left: -1700%;
  }
  88.24% {
    margin-left: -1700%;
  }
  88.66% {
    margin-left: -1800%;
  }
  91.18% {
    margin-left: -1800%;
  }
  91.60% {
    margin-left: -1900%;
  }
  97.06% {
    margin-left: -1900%;
  }
  97.48% {
    margin-left: -2000%;
  }
  100.00% {
    margin-left: -2000%;
  }
}